/* latin */
@font-face {
  font-family: 'UnifrakturCook';
  font-style: normal;
  font-weight: 700;
  src: local('UnifrakturCook')
     , local('UnifrakturCook-Bold')
     , url('unifrakturcook-webfont.woff2') format('woff2')
     , url('unifrakturcook-webfont.woff') format('woff')
     , url('UnifrakturCook.ttf') format('ttf')
     ;
}

@font-face {
  font-family: 'UnifrakturCook';
  font-style: normal;
  font-weight: 300;
  src: local('UnifrakturCook-Light')
     , local('UnifrakturCook-Light')
     , url('unifrakturcook-light-webfont.woff2') format('woff2')
     , url('unifrakturcook-light-webfont.woff') format('woff')
     , url('UnifrakturCook-Light.ttf') format('ttf')
     ;
}

@font-face {
    font-family: 'Staatliches';
    src: url('staatliches-regular-webfont.woff2') format('woff2')
       , url('staatliches-regular-webfont.woff') format('woff')
       , url('Staatliches-Regular.ttf') format('ttf')
       ;
    font-weight: normal;
    font-style: normal;

}

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

html {
    background: black;
    color: white;
    font-size: 1em;
}

header {
    font-family: 'UnifrakturCook';
    text-align: center;
    margin: 2em 1em;
    position: relative;
}

header h1.identity {
    font-weight: 300;
    font-size: 9em;
    line-height: .85;
    margin: 0;
}

header h1.identity a {
    display: block;
    width: 1.4em;
    margin: 0 auto -0.1em auto;
}

header h1.identity a img {
    width: 100%;
}

header h1.identity .wordmark{
    line-height: 1.3em;
}

header h1.identity .submark{
    display: block;
    font-family: 'Staatliches';
    text-transform: uppercase;
    font-size: 1.8rem;
}

header h1.identity .submark::before{
    content: '* '
}
header h1.identity .submark::after{
    content: '* '
}

header .zwiebelfisch,
header h1.identity .submark::before,
header h1.identity .submark::after {
    font-family: 'UnifrakturCook';
    font-weight: 700;
}


header p.claim {
    font-size: 1.8rem;
    margin-top: 2.3em;
    font-family: 'Staatliches';
    text-transform: uppercase;
    line-height: 1em;
}

header .otf-ss01 {
    font-feature-settings: "ss01";
}

header .otf-salt {
    font-feature-settings: "salt";
}

@media screen and (max-width: 550px) {
    header h1.identity {
        font-size: 5em
    }

    header h1.identity .submark{
        font-size: 1.3rem;
    }
    header p.claim {
        font-size: 1.3em;
    }
}

.container > header > a.social {
    position: absolute;
    top: 0px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background: no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    margin: 5px;
    opacity: 0.4;
}

.container > header > a.facebook {
    right: 0px;
    background-image: url("/media/layout/Facebook-icon.svg");
}

.container {
    flex: 1 0 auto;
}


footer {
    color: darkgrey;
    font-size: .7em;
    text-align: center;
    flex-shrink: 0;
    font-family: sans-serif;
}



